mailsort_and_send.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Testing",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Occupation",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Developer"
                  },
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Business"
                  },
                  {
                    "option": "HR"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        -40
      ],
      "id": "7ef0c581-5d7e-43e7-96bf-bbf270a72504",
      "name": "On form submission",
      "webhookId": "312bf1d5-c46e-4ef9-a906-c478069c6c91"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1BtJQgXQDituP_eVRvR9XDF8o5hLiSlgYWolcahyJ4Xc",
          "mode": "list",
          "cachedResultName": "Testing Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BtJQgXQDituP_eVRvR9XDF8o5hLiSlgYWolcahyJ4Xc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BtJQgXQDituP_eVRvR9XDF8o5hLiSlgYWolcahyJ4Xc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Occupation": "={{ $json.Occupation }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Occupation",
              "displayName": "Occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        -40
      ],
      "id": "286b3548-7197-4886-ae0b-8dcee308fc92",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHkuot50HST9wA0T",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "473d2e60-36d9-4038-915a-32f61cf39898",
              "leftValue": "={{ $json.Occupation }}",
              "rightValue": "Developer",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        -40
      ],
      "id": "961e8cff-a790-4c59-b397-94549513bc88",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "2f98a02b-902e-4722-8698-f351ea73656e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b37478-d233-4cf2-bdea-fcbccf957171",
                    "leftValue": "={{ $json.code }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -40
      ],
      "id": "f95c1e13-053c-4433-8771-96beff1a36de",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "arunima@gmail.com",
        "subject": "Hello User!",
        "message": "Developer password",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -140
      ],
      "id": "cde79a23-9e82-406a-b16e-45205b78a3f7",
      "name": "Gmail",
      "webhookId": "c3d1032c-4a29-4303-ba5e-e88f0a9190b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "gORleG3e54SPXTvD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "arunima@gmail.com",
        "subject": "Hello User!",
        "message": "HR password",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        60
      ],
      "id": "2242cf4f-aefa-4f1b-a1a1-fbb2018784d7",
      "name": "Gmail1",
      "webhookId": "c3d1032c-4a29-4303-ba5e-e88f0a9190b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "gORleG3e54SPXTvD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1100,
        -40
      ],
      "id": "e4de01ec-f21e-4f40-b500-fee364478c59",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "alll@gmail.com",
        "subject": "Hiii Person",
        "message": "whats up",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        -40
      ],
      "id": "197ecd52-fbf4-4506-8266-22957ea81ddb",
      "name": "Gmail2",
      "webhookId": "623686d7-2063-491a-a2bc-02dfbbc039a4",
      "credentials": {
        "gmailOAuth2": {
          "id": "gORleG3e54SPXTvD",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Filter": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10b057de-0c4a-43ca-9998-2a7fa00cbf9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "261edbb2adb2f1613d80c2a3297d760f76f0e50b9101241450a352134d8acfb7"
  },
  "id": "AVnHwvrOFdg7T3ou",
  "tags": []
}
